.kefu-page-header{}
.kefu-page-body{

    .kefu-body{
        width: 100%;
        height: auto;
        overflow: hidden;
        background: url('../assets/coustom.jpg') center center no-repeat;
        background-size: 100% 100%;
    }
}