.communityshare-page-header{

}
.community-shareitem-page-body{
    .community-share-body{
        margin-bottom: 44px;
    }
    .main-title{
        width: 100%;
        height: 3.125rem;
        line-height: 3.125rem;
        overflow: hidden;
        background: #FFF;
        font-size: 0.875rem;
        font-weight: bold;
        text-indent: 0.75rem;
        margin-top: 0.5rem;
        border-bottom: 1px solid #f0f0f0;
    }
    .main-share-text{
        width: 100%;
        height: auto;
        line-height: 1.5;
        overflow: hidden;
        padding: 1rem;
        background: #FFF;
        color: #303030;
        clear: both;
        font-size: 0.75rem;
        /*span{
            display: block;
            clear: both;
        }
        img{
            clear: both;
            display: block;
            margin: 0 auto;
            transform: rotate(90deg);
            webkit-transform:rotate(90deg);
        }*/
    }

    .share-user-info-bb{
        margin-bottom: 0;
        li{
            position: relative;

            .hao-part{
                position: absolute;
                top: 10px;
                display: inline-block;
                right: 15px;
                font{
                    color: #999;
                    float: left;
                    line-height: 2.5;
                }
                .hao-icon{
                    width: 25px;
                    display: block;
                    height: 25px;
                    float: left;
                    background: url('../assets/icon_hao.png') center center no-repeat;
                    background-size: 70%;
                    &.active{
                        background: url('../assets/icon_hao_active.png') center center no-repeat;
                        background-size: 70%;
                    }
                }
            }
        }
    }
    .g-pinglun {
        .g-m-ll{
            background-color: #828181;
        }
    }
    .g-ping-box{
        width: 100%;
        background: #FFF;
        height: auto;
        overflow: hidden;
        margin-top: 0.75rem;
        border-bottom: 1px solid #f0f0f0;
        .g-m-ll{
            width: 0.3125rem;
            float: left;
            height: auto;
            overflow: hidden;
            font-size: 1px;
            line-height: 2rem;
        }
        .tex{
            float: left;
            color: #2c2c2c;
            font-size: 0.875rem;
            display: inline;
            line-height: 2rem;
            text-indent: 0.3125rem;
        }
    }



}